@model IEnumerable<Stock_Management.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employees</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Employee Lastname
            </th>
            <th>
                Employee Age
            </th>
            <th>
                Employee Storage
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Storage.StorageName)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
