
@model Stock_Management.Models.HomeIndexViewModel

<div class="row mt-5 d-flex justify-content-center">
    <div class="card text-white bg-primary m-3" style="max-width: 24rem;">
        <div class="card-header fw-bolder fs-5">Number Of Orders</div>
        <div class="card-body">
            <i class="fs-1 bi-table float-end"></i>
            <p class="card-text fw-bold position-absolute top-25 fs-1">@Model.NoOfOrders</p>
        </div>
    </div>
    <div class="card text-white bg-secondary m-3" style="max-width: 24rem;">
        <div class="card-header fw-bolder fs-5">Number Of Products</div>
        <div class="card-body">
            <i class="fs-1 bi-box-seam float-end"></i>
            <p class="card-text fw-bold position-absolute top-25 fs-1">@Model.NoOfProducts</p>
        </div>
    </div>
    <div class="card text-white bg-success m-3" style="max-width: 24rem;">
        <div class="card-header fw-bolder fs-5">Number Of Categories</div>
        <div class="card-body">
            <i class="fs-1 bi-grid float-end"></i>
            <p class="card-text fw-bold position-absolute top-25 fs-1">@Model.NoOfCategories</p>
        </div>
    </div>
    <div class="card text-white bg-danger m-3" style="max-width: 24rem;">
        <div class="card-header fw-bolder fs-5">Number Of Customers</div>
        <div class="card-body">
            <i class="fs-1 bi-people float-end"></i>
            <p class="card-text fw-bold position-absolute top-25 fs-1">@Model.NoOfCustomers</p>
        </div>
    </div>
    <div class="card text-dark bg-warning m-3" style="max-width: 24rem;">
        <div class="card-header fw-bolder fs-5">Number Of Storages</div>
        <div class="card-body">
            <i class="fs-1 bi-house float-end"></i>
            <p class="card-text fw-bold position-absolute top-25 fs-1">@Model.NoOfStorages</p>
        </div>
    </div>
    <div class="card text-dark bg-info m-3" style="max-width: 24rem;">
        <div class="card-header fw-bolder fs-5">Number Of Employees</div>
        <div class="card-body">
            <i class="fs-1 bi-file-person-fill float-end"></i>
            <p class="card-text fw-bold position-absolute top-25 fs-1">@Model.NoOfEmployees</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card m-3">
            <div class="card-body">
                <h5 class="card-title">Total Cost Of Orders</h5>
                <p class="card-text">@Model.TotalCostOfOrders</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card m-3">
            <div class="card-body">
                <h5 class="card-title">Top Selling Product</h5>
                <p class="card-text">@Model.TopSellingProduct</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card m-3">
            <div class="card-body">
                <h5 class="card-title">Last Added Product</h5>
                <p class="card-text">@Model.LastAddedProduct</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card m-3">
            <div class="card-body">
                <h5 class="card-title">Employees From Konya</h5>
                <p class="card-text">@Model.EmployeesFromKonya</p>
            </div>
        </div>
    </div>
</div>
