@model List<Stock_Management.Models.OrderIndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Orders</h1>

<p>
    <a class="btn btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Product Name
            </th>
            <th>
                Product Price
            </th>
            <th>
                Quantitiy
            </th>
            <th>
                Total Cost
            </th>
            <th>
                Order Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CustomerName
                </td>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.ProductPrice <span>&#8378;</span>
                </td>
                <td>
                    @item.Quantitiy
                </td>
                <td>
                    @item.TotalCost <span>&#8378;</span>
                </td>
                <td>
                    @item.OrderDate
                </td>
                <td>
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
                    <br /><br />
                </td>
            </tr>
        }

    </tbody>
</table>
