@model IEnumerable<Stock_Management.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h1>Customers</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Customer Lastname
            </th>
            <th>
                Customer City
            </th>
            <th>
                Customer ZipCode
            </th>
            <th>
                Customer Phone
            </th>
            <th>
                Customer Street
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerStreet)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
